.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2rem;
    padding-left: 2rem;
    position: relative;
    z-index: 9999;
}

.header_menu {
    display: none;
}

.header_bars {
    color: var(--clr-light);
    width: var(--size-2xl);
    height: var(--size-2xl);
    display: block;
}

/* xs */
/* @media (min-width: 475px) {
    
} */

/* sm */
/* @media (min-width: 640px) {
    
} */

/* md */
@media (min-width: 768px) {

    .header_menu {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        gap: 2rem;
    }

    .header_link {
        font-size: var(--size-xs);
        text-decoration: none;
        font-weight: 600;
        color: var(--clr-slate600);
        letter-spacing: -0.05em;
        transition: color 0.3s;
    }

    .header_link:hover {
        color: var(--clr-rose);
    }

    .header_line {
        border: 1px solid var(--clr-slate600);
        padding-top: 1.5rem;
    }

    .header_sun {
        display: block;
        color: var(--clr-slate600);
        width: var(--size-base);
        height: var(--size-base);
    }

    .header_resume {
        font-size: var(--size-xs);
    }

    .header_bars {
        display: none;
    }
}

/* lg */
@media (min-width: 1024px) {
    .header_link {
        font-size: var(--size-sm);
        
    }

    .header_sun {
        width: var(--size-xl);
        height: var(--size-xl);
    }

    .header_resume {
        font-size: var(--size-sm);
    }
}

/* xl */
/* @media (min-width: 1280px) {
    
} */